<component name="ArtifactManager">
  <artifact type="war" name="SpringTesterProject:war">
    <output-path>$PROJECT_DIR$/../target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringTesterProject</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringTesterProject.war">
      <element id="artifact" artifact-name="SpringTesterProject:war exploded" />
    </root>
  </artifact>
</component>